<footer>
    <div class="content">
      <div class="logo_content">
        SHOME
      </div>
      <ul>
        <h3>Help</h3>
        <li><a href="">Help centre</a></li>
        <li><a href="">Delivery</a></li>
        <li><a href="">Returns</a></li>
        <li><a href="">Track an order</a></li>
      </ul>
      <ul>
        <h3>Company</h3>
        <li><a href="">About us</a></li>
        <li><a href="">Contact us</a></li>
      </ul>
      <ul>
        <h3>Legal</h3>
        <li><a href="">Terms of service</a></li>
        <li><a href="">Privacy policy</a></li>
        <li><a href="">Cookie settings</a></li>
      </ul>
      <div class="socials_container">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
    <div class="copyright_container">
      <p>© 2025 SHOME Limited. All rights reserved.</p>
    </div>
  </footer>
  