<header class="navbar">
    <div class="logo" routerLink="/">S-HOME</div>
  
    <!-- Hamburger Icon -->
    <ng-icon
      name="ionMenu"
      class="hamburger"
      (click)="toggleMenu()"
      aria-label="Toggle Navigation"
    ></ng-icon>
  
    <!-- Collapsible Navigation -->
    <nav [class.active]="isMenuOpen">
      <ul>
        <li>About Us</li>
        <li>How it works</li>
        <li>Price</li>
        <li>Help</li>
      </ul>
      <button class="btn dark" routerLink="/signin">SignIn</button>
    </nav>
  </header>
  